body {
  font-family: Vazirmatn, "Segoe UI", Tahoma, Arial, sans-serif;
}

.latin-nums,
.latin-nums * {
  font-family: Inter, "Segoe UI", Tahoma, Arial, sans-serif;
  direction: ltr;
  unicode-bidi: embed;
}

table.dataTable > tbody > tr.child > td {
  width: 100% !important;
  padding: 0 !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

table.dataTable > tbody > tr.child ul.dtr-details > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1rem;
  border-bottom: 1px dashed #e4e6ef;
}

table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
  border-bottom: none;
}

table.dataTable > tbody > tr.child ul.dtr-details > li > span.dtr-title {
  font-weight: 600;
  color: #5e6278;
  margin-left: 0.5rem;
  flex-shrink: 0;
}

table.dataTable > tbody > tr.child ul.dtr-details > li > span.dtr-data {
  text-align: left;
  color: #3f4254;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
  top: 50%;
  left: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: -0.625rem;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0 2px #7239ea;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  line-height: 1rem;
  background-color: #7239ea;
  font-weight: bold;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  position: relative;
  padding-left: 2.5rem;
}

.dataTables_length label {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  margin: 0;
}

/* .app-navbar [data-kt-search-element="content"].show {
  transform: translate(-904px, 75px) !important;
} */

.app-navbar .menu-sub-dropdown.show {
  left: 20px !important;
  right: auto !important;
  top: 60px !important;
  transform: none !important;
}
